<div class="col-sm-3 col-md-3">
  <div class="thumbnail">
      <img src="http://placehold.it/320x125/EEE" class="">
      <div class="caption">
        <h4 class="">Application</h4>

        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
              culpa itaque odio similique suscipit</p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a>  <a href="#" class="btn btn-default btn-xs" role="button" id="button-select" ng-click="todoList.selectedTemplate()">More Info</a>
      </div>
  </div>
</div>